<h2><%= title %></h2>
<table class='table'>
  <tr>
    <%= user_profile_image(user) %>
  </tr>
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
</table>
<div class='row mb-5'>
  <%= edit_user_button(user) %>
</div>