<h1>Books</h1>
<div class="table-m">
<table>
  <tr>
    <th class="th-title"><h4>Title</h4></th>
    <th class="th-body"><h4>Opinion</h4></th>
  </tr>
  <% if Book.all %>
  
    <% Book.all.each do |book| %>
      <tr>
        <td class="th-title"><%= book.title %></td>
        <td class="th-body"><%= book.body %>
        <td>
          <%= link_to 'Show' , book_path(book.id) %>
          <%= link_to 'Edit' , edit_book_path(book.id) %>
          <%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
</table>
  <% else %>
    <%= p "まだ投稿されていません" %>
  <% end %>
</div>