<div class='container px-5 px-sm-0'>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/user_info', user: @user, title: 'User info' %>
      <%= render 'books/new_book_form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% if Book.all %>
            <% Book.all.each do |book| %>
              <tr>
                <td>
                  <% if book.user.profile_image.attached? %>
                    <%= link_to user_path(book.user) do %>
                      <%= image_tag book.user.display_image, loading: "lazy", size: "80x80" %>
                    <% end %>
                  <% else %>
                    <%= link_to user_path(book.user) do %>
                      <%= image_tag 'default-image.jpg', size: "80x80" %>
                    <% end %>
                  <% end %>
                </td>
                <td class="th-title"><%= link_to book.title, book_path(book) %></td>
                <td class="th-body"><%= book.body %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">まだ投稿されていません</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>