<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <li>
        <%= link_to "Home", "#{users_path}/#{current_user.id}" %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <li>
          <%= link_to "Books", "#" %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <h1>User info</h1>
      <h2>mame</h2>
      <%= current_user.name %>
      <h2>introduction</h2>
      <%= current_user.introduction %>
      <h1>New Book</h1>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <h4 class="left-align">Title</h4>
          <%= f.text_field :title, class: "vertical-align" %>
        </div>
      
        <div class="form-group">
          <h4 class="left-align">Opinion</h4>
          <%= f.text_area :body, class: "vertical-align" %>
        </div>
        
          <%= f.submit 'Create Book' , class: "submit" %>
      
      <% end %>
    </main>
    <%= yield %>
  </body>
</html>
